@model asp_mvc_std_v2.Areas.MainAdminArea.Models.ZamowieniaViewModel
@using asp_mvc_std_v2
@using Data_Model_P;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}


<h4>Zamowienie</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ZamowieniaDodajProdukt">

            <div class="col-auto">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IdSklepu" />
                
                <div class="form-group">
                    <select name="ProductId" asp-for="@Model.ProductId">
                        @foreach (var option in Model.produkty.Where(x => x.SklepId == Model.IdSklepu))
                        {
                            
                              
                        <option value="@option.ProductId"> @option.ProductName </option>
                            
                                
                        }

                    </select>
                </div>
                <div>
                    <p>Ilość</p>
                    <input name="Ilosc" type="number" asp-for="Ilosc" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </div>


            <div class="col-auto">aAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
