@model Data_Model_P.Zamowienie
@using asp_mvc_std_v2
@using Data_Model_P.Enums;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}



<h4>Zamowienie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*
        <label asp-for="IdSklepu" class="control-label"></label>
        <input asp-for="IdSklepu" class="form-control" />
        <span asp-validation-for="IdSklepu" class="text-danger"></span>
               
                <label asp-for="IdSklepu" class="control-label"></label>
                <select asp-for="IdSklepu" class="form-control" asp-items="Html.GetSelectList<Model.IdSklepu>()">
                    <option>Select type ...</option>
                </select>
                *@
            </div>
            <div class="form-group">
                <label asp-for="DataUtworzenia" class="control-label"></label>
                <input asp-for="DataUtworzenia" class="form-control" />
                <span asp-validation-for="DataUtworzenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>*@
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()">
                            <option>Select type ...</option>
                            </select>
                    </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
